@page "/"
@using MauiApp1.Services
@inject DataService DataService
@using MauiApp1.Personel


<h1>Watchbill</h1>
<h2>SDO</h2>
<h2>DCPO</h2>


<aside style="float:right;">
    <table>
        <tr>
            <th>Colors</th>
        </tr>
        <tr>
            <td>Moring</td>
            <td>Evening</td>
            
        </tr>
        <tr>
        <td>Morn</td>
        <td>Eve</td>
        </tr>
        
        <tr>
        <td>Morn</td>
        <td>Eve</td>
        </tr>
    </table>
</aside>

<table id="watchbill" width="70%">
    <tr>
    <th>Time</th>
    <th>Senior</th>
    <th>mid</th>
    <th>Junior</th>
        <th>Senior</th>
        <th>mid</th>
        <th>Junior</th>
    </tr>
    <tr>
        <td>800-1200</td>
        <td>filler person</td>
        <td>Holla</td>
        <td>John</td>
        <td>water</td>
        <td>smoke</td>
        <td>himerdinger</td>
    </tr>
    
</table>


<aside style="float:right;">
    <table>
        <tr>
            <th>Numbers</th>
        </tr>
    </table>
</aside>




<br style="margin-top:20px;">
<table id="personel">
    <caption>Personel</caption>
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Q</th>
        <th>Lib/Month</th>
    </tr>
    @if (holdingList != null && holdingList.Any())
    {
        foreach (var person in holdingList)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Rank</td>
                <td>@person.Quals</td>
                <td>@person.Lib</td>
            </tr>
        }
    }

    <p>@dbpath</p>
       
    
</table>

@code 
{
    Personel tempPerson = new Personel();

    List<Personel> holdingList;

    string dbpath;

    protected override async Task OnInitializedAsync()
    {
        holdingList = await DataService.GetAllPersonelAsync();

        dbpath = await DataService.GetDataPath();


    }
}
